.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

.App > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}
